* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

header {
	padding: 0 35px;
	background-color: #01143e;
	border-bottom: 1px solid rgb(236, 0, 250);
}

.container {
	max-width: 1140px;
	margin: auto;
}

.logo a {
	text-decoration: none;
	color: white;
	font-size: 30px;
	font-family: 'Eczar', 'Lobster', cursive, sans-serif;
	font-weight: 600;

}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	height: 75px;
	margin: auto;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	text-decoration: none;
	color: white;
	padding-left: 35px;
	display: block;
	font-family: 'Montserrat', sans-serif;
}

.navbar-links a:hover, .logo a:hover {
	color: rgb(236, 0, 250);
}

.hamburger {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 20px;
}

.hamburger .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

a .bar:hover {
	background-color: rgb(236, 0, 250);
}

@media (max-width: 750px) {
	.hamburger {
		display: flex;
	}

	.navbar-links {
		display: none;
	}

	header {
		background-color: rgb(236, 241, 250);
		border-color: #01143e;
	}

	.logo a {
		color: #01143e;
	}

	.hamburger .bar {
		background-color: #01143e;
	}
}








